<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>townnamegen</title>
	<meta name="description" content="" />
</head>
<body>
	
	<script src="townnamegen.js"></script>
    <div>
        <form id="demoForm">
            <div>
                <label for="localeKey">Name locale</label>
                <select id="localeKey">(: for locale in locales :)
                    <option value="(: locale.localeKey :)">(: locale.displayName :)</option>(: end :)
                </select>
            </div>
            <div>
                <label for="numberToGenerate">Number of names to generate</label>
                <input id="numberToGenerate" type="number" min="1" max="10000" value="1"></input>
            </div>
            <div></div>
                <label for="seed">Seed (leave blank for random)</label>
                <input id="seed" type="number"></input>
            </div>
            <div>
                <button type="submit">Generate</button>
            </div>
        </form>
    </div>
    <div>
        <textarea id="output" rows="10"></textarea>
    </div>
    
    <script type="text/javascript">
        townnamegen.demo.DemoForm.bind();
    </script>
</body>
</html>